<nav class="collapse navbar-collapse" id="bs-navbar">
  <ul class="nav navbar-nav">
    <li class="active">
      <% if user_signed_in? %>
        <%= link_to 'Products', products_path %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to 'Broadcast', new_broadcast_path %>
      <% end %>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to next_locale[:name], current_path(lang: next_locale[:key]) %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to me_users_path do %>
          <%= image_tag current_user.avatar.url(:thumb), size: '25x25' %>
        <% end %>
      </li>
      <li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Registration', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>